* {
  margin: 0;
  padding: 0;
}

.box {
  border: 2px solid blue;
  height: 100px;
  width: 100px;
  padding: 3px;
  margin: 3px;
}
.parent {
  padding: 30px;
  margin: 30px;
  border: 3px solid red;
  /* position: relative; */
  /* transform: translate(0); */
  /* filter: invert(0); */
  /* perspective: 0em; */
}
.box1 {
  background-color: aqua;

  /* s */

  /* position: sticky;
  top: 0px;
  left: 10px; */
}
.box2 {
  background-color: red;
  /* position: relative;
  top: 100px;
  left: 100px; */
}
.box3 {
  /* position: fixed; */
  /* top: 10px;
  left: 10px; */
  background-color: yellow;
}
.box4 {
  background-color: green;
}

/* note: transform , filter , prespective properties can also make an element appear positioned */
