.container {
  /* height: 400px;
  width: 600px; */
  background-color: lightcoral;
}
.img {
  object-fit: contain;
  object-position: center;
  width: 600px;
  height: 600px;
}
#img_1 {
  filter: blur(10px);
}
#img_2 {
  filter: brightness(20%);
}
#img_3 {
  filter: drop-shadow(30%);
}
